<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon.ico' %}"/>
</head>
<body>
<script>
function goBack() {
  window.history.back();
}
</script>
<p>Уверен что хочешь удалить {{ item }}?</p>

<button onclick="goBack()" class="btn btn-primary" style="margin-bottom:10px" >Отмена</button>

<form method="post" action="">
    {% csrf_token %}
    <input type="submit" value="Удалить" class="btn btn-danger">
</form>
</body>
</html>